.header {
    display: flex;
    justify-content: space-between;
    border: 2px solid black;
}

.logo {
    width: 200px;
}

.nav-items ul {
    display: flex;
}

.nav-items ul li {
    font-size: 25px;
    padding: 10px;
    margin: 10px;
    list-style-type: none;
}

.rest-card {
    padding: 10px;
    height: 325px;
    width: 200px;
    margin: 5px 10px;
    background-color: #f0f0f0;
}

.rest-card:hover {
    border: 2px solid red;
    cursor: pointer;
}

.rest-card-logo {
    height: 180px;
    width: 150px;
}

.rest-cont {
    display: flex;
    flex-wrap: wrap;
}

.filter-btn {
    margin: 10px;
}

.Shimmer-cont {
    display: flex;
    flex-wrap: nowrap;
}

.Shimmer-card {
    height: 350px;
    width: 200px;
    margin: 10px;
    background-color: #f0f0f0;
}

.login-btn {
    border: 2px solid black;
}

.filter {
    display: flex;
}